<h2>Ngx Intellisense Input</h2>
<p></p>

<h3>Single Line</h3>
<div>
  <b>Formula:</b>
  <intellisense-input
    [config]="intelisenseInputSingleConfig"
    (onChange)="onChangeFormula($event)"
  ></intellisense-input>
  <div><small> examples: (#TOTAL + #SUBTOTAL) / #UNITS </small></div>
  <div>
    model:
    <pre>{{ formula | json }}</pre>
  </div>
</div>
<br />
<h3>Mutiple Line</h3>
<p>press 'enter' to make new line</p>
<intellisense-input
  [config]="intelisenseInputMultipleConfig"
  (onChange)="onChangeQueryText($event)"
></intellisense-input>
