<h2>Ngx Intellisense Input</h2>
<div>
  <h3>Input Configuration</h3>
  <pre>
    <div><b>type:</b> INTELLISENSE_INPUT_TYPE</div>
    <div><b>references:</b> Array&#60;string&#62;</div>
    <div><b>placeholder:</b> string</div>
    <div><b>dividerIndex:</b> number</div>
    <div><b>limit:</b> number</div>
    <div><b>onChange</b>&#x2772; data: &#x2774; value: string, selectedReferences: Array&#60;string&#62; &#x2775; &#x2773; </div>
  </pre>
</div>
<h3>Single Line</h3>
<div>
  <label><b>Formula:</b></label>
  <intellisense-input
    [config]="intelisenseInputSingleConfig"
    (onChange)="onChangeFormula($event)"
  ></intellisense-input>
  <div><small> example: (#TOTAL + #SUBTOTAL + 1000) / #UNITS </small></div>
  <div>
    model:
    <pre>{{ formula | json }}</pre>
  </div>
</div>
<br />
<h3>Mutiple Line</h3>
<p>press 'enter' to make new line</p>
<div>
  <label><b>SQL Query:</b></label>
  <intellisense-input
    [config]="intelisenseInputMultipleConfig"
    (onChange)="onChangeQueryText($event)"
  ></intellisense-input>
  example: #SELECT * \n #FROM tblUser \n #WHERE a = '1'
  <div>
    model:
    <pre>{{ queryText | json }}</pre>
  </div>
</div>
